<div class="date-outer">
  <h2 class="date-header"><span><%= article.created_at.strftime("%A, %B %d, %Y")%></span></h2>
  <div class="date-posts">
    <div class="post-outer">
      <article class="post hentry">
        <a name="2165021750605474041"></a>
        <h2 class="post-title entry-title"><span class="post_title_icon"></span>
          <%= link_to article.title, article %>
        </h2>
        <div class="bpostmeta">
          <span><i class="fa fa-clock-o"></i> <%= article.created_at.strftime("%A, %B %d, %Y")%></span>
          <span><i class="fa fa-user"></i> Dodany przez Miłosz Osiński</span>
          <span><i class="fa fa-bookmark"></i> <%= "##{article.kategoria}" %></span>
          <span><i class="fa fa-comments"></i> Ilość komentarzy: <%= link_to "##", article_url(article, :anchor => "disqus_thread"), :"data-disqus-identifer" => article.id %></span>
        </div>
        <div class="post-header-line-1"></div>
        <div class="post-body entry-content clearfix">
          <div class="entry-colors">
            <div class="color_col_1"></div>
            <div class="color_col_2"></div>
            <div class="color_col_3"></div>
          </div>
          <div id="summary2165021750605474041">
            <div>
              <% if article.body.length > 500 %>
                <%=raw textilize(coderay(article.body[0..500]+"</code>...")) %>
              <% else %>
                <%=raw textilize(coderay(article.body)) %>
              <% end %>
            </div>
          </div>
          <div style="float:right;padding-right:0px;margin-top:10px;">
            <%= link_to "Czytaj więcej", article, :class => "more-link" %>
          </div>
          <div style="clear: both;"></div>
        </div>
      </article>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var disqus_shortname = ENV['disqus_shortname'];
  var disqus_identifier = '<%= article.id %>';
  var disqus_url = '<%= polymorphic_url article %>';

  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
