<div class="post hentry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">

 <div class="postdate">
	<div class="postmonth"><%= article.created_at.strftime("%m")%></div>
	<div class="postday"><%= article.created_at.strftime("%d")%></div>
 </div>

 <h1 itemprop="name"><%= link_to article.title, article %></h1>

<div id="post-body-3046711704759827720" class="entry" itemprop="articleBody">
  <%= article.body.bbcode_to_html_with_formatting.html_safe %>
</div>

<div class="postmetadata">
   <div class="meta">
	<span class="time"><em>Ostatnia modyfikacja </em><%= article.updated_at %><em> przez </em><b>Miłosz Osiński</b></span>
	</div>
	<span class="categories">Kategoria: </span><%= article.kategoria %><span class="post-comments">Ilość komentarzy: </span><%= article.comments.count %>
</div>

<%= link_to 'Show', article %>
<%= link_to 'Edit', edit_article_path(article) %>
<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
</div>
