<% if comment.email  == "mylosz@yahoo.pl" %>
<div class="post-administrator" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">
<% else %>
<div class="post hentry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">
<% end %>
<div class="comment">
  <div class="comment_avatar">
  <div class="comment_left">
  <%= image_tag avatar_url(comment) %>
  </div>
  </div>
  <div class="comment_right">
  <div class="comment_info">
  <% if (((Time.now - comment.created_at).to_i / 60) / 60) > 24  %>
  <b><%=h comment.name %></b> <%= comment.created_at.strftime("%d.%m.%y %H:%M")%>
  <% else %>
  <b><%=h comment.name %></b> <font class="koment_czas"><%= time_ago_in_words(comment.created_at) + ' temu' %></font>
  <% end %>
<%= link_to image_tag("edit.png"), edit_article_comment_path(@article, comment),:id => "comment-przyciski" %>
<%= link_to image_tag("delete.gif"), article_comment_path(@article, comment), :confirm => 'Usunąć komentarz?', :method => :delete,:id => "comment-przyciski" %>
  </div>
       <div id="comment-body">
  	<%= simple_format h comment.body.bbcode_to_html({}, true, :disable, :image, :youtube, :qvideo, :vimeo, :size).html_safe %>
	</div>
  </div>
</div>
</div>
