<br />
<%= form_for(@article) do |f| %>
<%= render partial: 'form', locals: { f: f } %>
  <div class="actions">
    <%= f.submit :value => "Dodaj Artykuł" %>
  </div>
<% end %>
<div class="bbcode_help">
<%= button_tag image_tag("icons/bold.gif", :class=>'obrazek'), :class => "bbcode_help_button", :id => "przycisk_bold" %><%= button_tag image_tag("icons/italic.jpeg", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_italic' %><%= button_tag image_tag("icons/u.jpeg", :class=>'obrazek'), :class => "bbcode_help_button", :id => "przycisk_u" %><%= button_tag image_tag("icons/s.jpeg", :class=>'obrazek'), :class => "bbcode_help_button", :id => "przycisk_s" %><%= button_tag image_tag("icons/url.gif", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_url' %><%= button_tag image_tag("icons/blockquote.png", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_cytat' %><%= button_tag image_tag("icons/code.jpg", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_code' %><%= button_tag image_tag("icons/img.png", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_img' %><%= button_tag image_tag("icons/youtube.jpg", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_youtube' %><%= button_tag image_tag("icons/ol.gif", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_list_num' %><%= button_tag image_tag("icons/ul.gif", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_list_krop' %>
</div>
<%= link_to 'Back', articles_path %>
