<% title @article.title %>
<div class="post hentry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">

 <div class="postdate">
	<div class="postmonth"><%= @article.created_at.strftime("%m")%></div>
	<div class="postday"><%= @article.created_at.strftime("%d")%></div>
 </div>

  <h1 itemprop="name"><%= @article.title %></h1>
<div class="przyciski">
<%= link_to image_tag("edit.png"), edit_article_path(@article), :class => "przyciskii" %>
<%= link_to image_tag("delete.gif"), @article, :confirm => 'Czy napewno chcesz usunąć artykuł?', :method => :delete, :class => "przyciskii" %>
</div>

<div id="post-body-3046711704759827720" class="entry" itemprop="articleBody">
<%=raw textilize(coderay(@article.body)) %>
</div>

<div class="postmetadata">
   <div class="meta">
	<span class="time"><em>Ostatnia modyfikacja </em><%= @article.updated_at.strftime("%d-%m-%Y") %><em> przez </em><b>Miłosz Osiński</b></span>
	</div>
	<span class="categories">Kategoria: </span><%= @article.kategoria %>

<div class="social_buttons">
<div class='spread'>
<div class='twshare left'>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a>
<div class="fb_button" style="background:none;position: relative; top: -2.5px; left: -10px;">
<fb:like href="" layout="button_count" show_faces="false" width="45" font=""></fb:like>
</div></div></div>
<div class="google">
 <div class="g-plusone" data-size="medium" ></div>
</div>
<div class="nk">
<div class = "nk-fajne" data-nk-url = "http://mosinskiblog.herokuapp.com" data-nk-type = "3" data-nk-color = "0" data-nk-title = <%= @article.title %>
 data-nk-image = "http://mosinskiblog.herokuapp.com/logo.png" data-nk-description = <%= @article.body[0..30] %> > </div>
</div>
</div>
</div>
</div>

<div id="comment-block">
<h3 id="comments-title"><%= @article.comments.count %></h3>
  <%= render :partial => 'comment', :collection => @article.comments %> 
</div>
<div class="post hentry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">
<div class="bbcode_help_comments">
<%= button_tag image_tag("icons/bold.gif", :class=>'obrazek'), :class => "bbcode_help_button", :id => "przycisk_bold" %><%= button_tag image_tag("icons/italic.jpeg", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_italic' %><%= button_tag image_tag("icons/u.jpeg", :class=>'obrazek'), :class => "bbcode_help_button", :id => "przycisk_u" %><%= button_tag image_tag("icons/s.jpeg", :class=>'obrazek'), :class => "bbcode_help_button", :id => "przycisk_s" %><%= button_tag image_tag("icons/url.gif", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_url' %><%= button_tag image_tag("icons/blockquote.png", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_cytat' %><%= button_tag image_tag("icons/code.jpg", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_code' %><%= button_tag image_tag("icons/ol.gif", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_list_num' %><%= button_tag image_tag("icons/ul.gif", :class=>'obrazek'), :class => 'bbcode_help_button', :id => 'przycisk_list_krop' %>
</div>
<%= form_for([@article, @article.comments.build]) do |f| %>
<div class="user_info">
  <div class="field_single">
    <%= f.label :imię %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field_single">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
</div>
  <div class="field">
    <br /><br /><br />
    <%= f.text_area :body, :rows => "5", :class => "komentarz_body"%>
  </div><br />
  <p><%= f.submit :value=>"Dodaj Komentarz" %></p>
<% end %>
</div>
