<div class="post hentry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">

 <div class="postdate">
	<div class="postmonth"><%= @article.created_at.strftime("%m")%></div>
	<div class="postday"><%= @article.created_at.strftime("%d")%></div>
 </div>

  <h1 itemprop="name"><%= @article.title %></h1>


<div id="post-body-3046711704759827720" class="entry" itemprop="articleBody">
  <%= @article.body.bbcode_to_html_with_formatting.html_safe %>
</div>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>


<h3>Komentarze</h3>
<div id ="comments">
  <%= render :partial => 'comment', :collection => @article.comments %> 
</div>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <p><%= f.submit %></p>
<% end %>
