<style>
#kod_input{
width:500px;
}
</style>
<% title "Chcę zrezygnować z subskrypcji Mosiński Blog" %>
<h1><%= yield(:title) %></h1>
<u>Proszę o usunięcie mojego maila z bazy danych bloga.</u><br><br>
<%= form_tag "/rezygnuje_z_subskrypcji" do %>
  <b><%= label_tag(:q, "Kod Dostępu:") %></b>
  <%= text_field_tag(:kod_input, nil, :placeholder => "Wpisz kod dostępu podany w mail-u") %><br>
  <%= submit_tag "Wyślij", :class => "button" %>
<% end %>
