<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width" name="viewport">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <link href="/logo.png" rel="icon" type="image/x-icon">
  <title>Miłosz Osiński Blog<% if yield(:title) != '' %> - <%= yield(:title) %><% end %></title>
  <%= auto_discovery_link_tag(:atom, articles_path(:atom)) %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>

  <meta property="og:site_name" content="Miłosz Osiński Blog"/>
  <meta property="og:image" content="<%= asset_path('logo2_big.png') %>" />
  <meta property="og:type" content="website" />
  <%= yield :facebook %>
</head>
<body>
  <div class="main-container">
    <div class="header_container_fixed">
      <header class="wrapperbpart clearfix">
        <div class="headersec section" id="headersec">
          <div class="widget Header" id="Header1">
            <div id="header-inner">
              <a href="/" style="display: block">
                <%= image_tag("logo.png", id: "Header1_headerimg", "style"=>"display: block;margin: -5px auto -25px auto;") %>
              </a>
            </div>
          </div>
        </div>
        <div class="mini_divider"></div>
        <div class="menu-mainmenu-container navbpart">
          <div class="nbttopmenutop section" id="nbttopmenutop">
            <div class="widget LinkList" id="LinkList7">
              <div class="widget-content">
                <ul class="menu" id="menu-mainmenu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">O mnie</a></li>
                  <li><a href="/contact">Kontakt</a></li>
                  <li><a href="http://m1l05z.pl/projekty.html">Projekty</a></li>
                </ul>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="mini_divider"></div>
        <div class="search_box">
          <%= form_tag request.path, :method => 'get', :id => "searchform" do %>
            <%= text_field_tag  :search, params[:search], :placeholder => 'Wyszukaj:', :class => 'field', :id => 's' %>
          <% end %>
        </div>
        <div class="mini_divider"></div>
        <div class="search_box" id="newsletter_box" style="display:block">
          <span style="font-weight:bold;color:#8C8C7B">Subskrypcja @</span>
          <%= render :partial => "newsletters/subskrypcja" %>
        </div>
        <div class="mini_divider"></div>
      </header>
    </div>
    <div class="mainbpart wrapperbpart clearfix">
      <div class="main_content">
        <div class="contentbpart">
          <div class="mainblogsec section" id="mainblogsec">
            <div class="widget Blog" id="Blog1">
              <div class="blog-posts hfeed">
                <%= yield %>
              </div>
            </div>
            <script type="text/javascript">window.___gcfg = {'lang': 'pl'};</script>
          </div>
        </div>
      </div>
      <aside>
        <div class="sidebar section" id="sidebartop">
          <div class="widget PopularPosts" id="PopularPosts1">
            <h2>Popularne Posty</h2>
            <div class="widget-content popular-posts">
              <ul>
                <% most_popular.each do |visit| %>
                  <li>
                    <div class="item-thumbnail-only">
                      <div class="item-title">
                        <%= link_to (strip_tags(visit.visitable.title))[0..50], visit.visitable %>
                      </div>
                    </div>
                    <div style="clear: both;"></div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="widget Label" id="Label1">
            <h2>Kategorie</h2>
            <div class="widget-content list-label-widget-content">
              <ul>
                <%= category_counter('NEWS', 'NEWS') %>
                <%= category_counter('ANDROID', 'ANDROID') %>
                <%= category_counter('HTML5', 'HTML5') %>
                <%= category_counter('UBUNTU', 'UBUNTU') %>
                <%= category_counter('RUBY ON RAILS', 'RUBY ON RAILS') %>
              </ul>
            </div>
          </div>
          <div class="widget Text" id="Text1">
            <h2 class="title">Info</h2>
            <div class="widget-content">
              Witam na blogu poświęconym informatyce a głównie programowaniu.
              Są na nim dziedziny z jakimi miałem styczność na studiach może
              komuś ta wiedza się przyda. To tyle miłej lektury.
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<div class="footer-container">
  <footer class="wrapperbpart">
    <div class="widget" id="social">
      <a href="mailto:mylosz@yahoo.pl"><i class="fa fa-envelope fa-2"></i></a>
      <a href="https://www.facebook.com/m1l05z"><i class="fa fa-facebook-square fa-2"></i></a>
      <a href="https://pl.linkedin.com/in/mosinski1/"><i class="fa fa-linkedin fa-2"></i></a>
      <a href="https://github.com/mosinski?tab=repositories"><i class="fa fa-github fa-2"></i></a>
      <a href="/articles.atom"><i class="fa fa-rss fa-2"></i></a>
    </div>
    Copyright © <%= Time.now.year %> Miłosz Osiński
  </footer>
</div>
<script>
  $(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height > 50 && height < 100) {
      $("#newsletter_box").effect("shake", { times:3 }, 85);
    }
  });
</script>
</body>
</html>
