<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width" name="viewport">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <link href="/logo.png" rel="icon" type="image/x-icon">
  <title>Miłosz Osiński Blog<% if yield(:title) != '' %> - <%= yield(:title) %><% end %></title>
  <%= auto_discovery_link_tag(:atom, articles_path(:atom)) %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript">
  summary_noimg = 400;
  summary_img = 300;
  img_thumb_height = 150;
  img_thumb_width = 200; 
  </script>
</head>
<body>
  <div class="main-container">
    <div class="header_container_fixed">
      <header class="wrapperbpart clearfix">
        <div class="headersec section" id="headersec">
          <div class="widget Header" id="Header1">
            <div id="header-inner">
              <a href="/" style="display: block">
                <img alt="Moments" id="Header1_headerimg" src="/assets/logo.png" style="display: block;margin: -5px auto -25px auto;">
              </a>
            </div>
          </div>
        </div>
        <div class="mini_divider"></div>
        <div class="menu-mainmenu-container navbpart">
          <div class="nbttopmenutop section" id="nbttopmenutop">
            <div class="widget LinkList" id="LinkList7">
              <div class="widget-content">
                <ul class="menu" id="menu-mainmenu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">O mnie</a></li>
                  <li><a href="http://moments-theme.blogspot.com/p/contact.html">Kontakt</a></li>
                  <li><a href="http://m1l05z.pl/projekty.html">Projekty</a></li>
                </ul>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="mini_divider"></div>
        <div class="search_box">
          <%= form_tag request.path, :method => 'get', :id => "searchform" do %>
            <%= text_field_tag  :search, params[:search], :placeholder => 'Wyszukaj:', :class => 'field', :id => 's' %>
          <% end %>
        </div>
        <div class="mini_divider"></div>
      </header>
    </div>
    <div class="mainbpart wrapperbpart clearfix">
      <div class="main_content">
        <div class="contentbpart">
          <div class="mainblogsec section" id="mainblogsec">
            <div class="widget Blog" id="Blog1">
              <div class="blog-posts hfeed">
                <%= yield %>  
              </div>
            </div>
            <script type="text/javascript">window.___gcfg = {'lang': 'pl'};</script>
          </div>
        </div>
      </div>
      <aside>
        <div class="sidebar section" id="sidebartop">
          <div class="widget PopularPosts" id="PopularPosts1">
            <h2>Popular Posts</h2>
            <div class="widget-content popular-posts">
              <ul>
                <li>
                <div class="item-thumbnail-only">
                  <div class="item-title">
                    <a href="http://moments-theme.blogspot.com/2010/09/sample-post-with-links-paragraphs-and.html">Sample post with, links, paragraphs and comments</a>
                  </div>
                </div>
                <div style="clear: both;"></div>
                </li>
                <li>
                <div class="item-thumbnail-only">
                  <div class="item-title"><a href="http://moments-theme.blogspot.com/2010/08/this-is-just-going-to-be-another-test.html">This is Just Going To Be Another Test Post</a></div>
                </div>
                <div style="clear: both;"></div>
                </li>
                <li>
                <div class="item-thumbnail-only">
                  <div class="item-title"><a href="http://moments-theme.blogspot.com/2010/08/another-one-to-fill-space.html">Another One to Fill Space</a></div>
                </div>
                <div style="clear: both;"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="widget Label" id="Label1">
            <h2>Categories</h2>
            <div class="widget-content list-label-widget-content">
              <ul>
                <%= category_counter('NEWS', 'NEWS') %>
                <%= category_counter('C# Microsoft Visual Studio', 'C%23') %>
                <%= category_counter('Android', 'ANDROID') %>
                <%= category_counter('HTML5', 'HTML5') %>
                <%= category_counter('UBUNTU', 'UBUNTU') %>
              </ul>
            </div>
          </div>
          <div class="widget Text" id="Text1">
            <h2 class="title">Info</h2>
            <div class="widget-content">
              Witam na blogu poświęconym informatyce a głównie programowaniu.
              Są na nim dziedziny z jakimi miałem styczność na studiach może
              komuś ta wiedza się przyda. To tyle miłej lektury.
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<div class="footer-container">
  <footer class="wrapperbpart">
    <div class="widget" id="social">
      <a href="mailto:mylosz@yahoo.pl"><i class="fa fa-envelope fa-2"></i></a>
      <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2"></i></a>
      <a href="https://pl.linkedin.com/in/mosinski1/"><i class="fa fa-linkedin fa-2"></i></a>
      <a href="https://github.com/mosinski?tab=repositories"><i class="fa fa-github fa-2"></i></a>
      <a href="/articles.atom"><i class="fa fa-rss fa-2"></i></a>
    </div>
    Copyright © <%= Time.now.year %> Miłosz Osiński
  </footer>
</div>
</body>
</html>
