<!DOCTYPE html>
<head>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
<meta content="width=1100" name="viewport">
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta content="true" name="MSSmartTagsPreventParsing">
<link href="http://mosinskiblog.herokuapp.com/logo.png" rel="icon" type="image/x-icon">
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/scrolltopcontrol.js"></script>
<%= auto_discovery_link_tag(:atom, articles_path(:atom)) %>
<!--[if IE]><script type="text/javascript" src="//www.blogger.com/static/v1/jsbin/1453143967-ieretrofit.js"></script>
<![endif]-->
<!--[if IE]> <script> (function() { var html5 = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(','); for (var i = 0; i < html5.length; i++) { document.createElement(html5[i]); } try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} })(); </script> <![endif]-->
<title>
Miłosz Osiński Blog<% if yield(:title) != '' %> - <%= yield(:title) %><% end %>
</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
<style id="page-skin-1" type="text/css"><!--
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{
display:inline;
float:left;
margin-left:10px;
margin-right:10px;
}
.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11{
position:relative;
}
.alpha{
margin-left:0;
}
.omega{
margin-right:0;
}
.container_12 .grid_1{
width:80px;
}
.container_12 .grid_2{
width:180px;
}
.container_12 .grid_3{
width:280px;
}
.container_12 .grid_4{
width:330px;
}.container_12 .grid_5{width:480px}.container_12 .grid_6{width:580px}.container_12 .grid_7{width:680px}.container_12 .grid_8{width:820px}.container_12 .grid_9{width:880px}.container_12 .grid_10{width:980px}.container_12 .grid_11{width:1080px}.container_12 .grid_12{width:1180px}.container_12 .prefix_1{padding-left:100px}.container_12 .prefix_2{padding-left:200px}.container_12 .prefix_3{padding-left:300px}.container_12 .prefix_4{padding-left:400px}.container_12 .prefix_5{padding-left:500px}.container_12 .prefix_6{padding-left:600px}.container_12 .prefix_7{padding-left:700px}.container_12 .prefix_8{padding-left:800px}.container_12 .prefix_9{padding-left:900px}.container_12 .prefix_10{padding-left:1000px}.container_12 .prefix_11{padding-left:1100px}.container_12 .suffix_1{padding-right:100px}.container_12 .suffix_2{padding-right:200px}.container_12 .suffix_3{padding-right:300px}.container_12 .suffix_4{padding-right:400px}.container_12 .suffix_5{padding-right:500px}.container_12 .suffix_6{padding-right:600px}.container_12 .suffix_7{padding-right:700px}.container_12 .suffix_8{padding-right:800px}.container_12 .suffix_9{padding-right:900px}.container_12 .suffix_10{padding-right:1000px}.container_12 .suffix_11{padding-right:1100px}.container_12 .push_1{left:100px}.container_12 .push_2{left:200px}.container_12 .push_3{left:300px}.container_12 .push_4{left:400px}.container_12 .push_5{left:500px}.container_12 .push_6{left:600px}.container_12 .push_7{left:700px}.container_12 .push_8{left:800px}.container_12 .push_9{left:900px}.container_12 .push_10{left:1000px}.container_12 .push_11{left:1100px}.container_12 .pull_1{left:-100px}.container_12 .pull_2{left:-200px}.container_12 .pull_3{left:-300px}.container_12 .pull_4{left:-400px}.container_12 .pull_5{left:-500px}.container_12 .pull_6{left:-600px}.container_12 .pull_7{left:-700px}.container_12 .pull_8{left:-800px}.container_12 .pull_9{left:-900px}.container_12 .pull_10{left:-1000px}.container_12 .pull_11{left:-1100px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
border: 0;
margin: 0;
padding: 0;
font-size: 100%;
}
html, body {
height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}
.przyciski{
width:50px;
height:20px;
display: block;
float:right;
margin-top:-50px;
}
.przyciskii{
display: none;
}
b, strong {
font-weight: bold;
}
img {
color: transparent;
font-size: 0;
vertical-align: middle;
-ms-interpolation-mode: bicubic;
}
li {
display: list-item;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
th, td, caption {
font-weight: normal;
vertical-align: top;
text-align: left;
}
q {
quotes: none;
}
q:before, q:after {
content: '';
content: none;
}
sub, sup, small {
font-size: 75%;
}
sub, sup {
line-height: 0;
position: relative;
vertical-align: baseline;
}
sub {
bottom: -0.25em;
}
sup {
top: -0.5em;
}
svg {
overflow: hidden;
}

body {
font:14px/22px Helvetica, Arial, Verdana, sans-serif;
}
/* Links */
a {
color: #1982d1;
text-decoration: none;
}
a:focus, a:active, a:hover {
color: #006699;
text-decoration: none;
}
h2, h3, h4, h5, h6 {
padding: 0px 0px 0px 0px;
}
#header h1 {
font-weight:bolder;
margin: 35px 0px 0px 0px;
padding: 0px 20px 10px 0px;
border-right: 1px solid #ccc;
float: left;
text-shadow: 0px 1px 1px rgb(255, 255, 255);
}
#header h1 a {
text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px -1px 0px rgb(0, 0, 0);
color: rgb(119, 119, 119);
font-size:42px;
letter-spacing:-2.5px;
text-decoration: none;
}
#header h1 a:hover {
color: #333;
text-decoration: none;
}
#header .description {
color: #777777;
float: left;
margin: 55px 0px 0px 0px;
padding: 0px 0px 0px 20px;
}
.bread-crumb {
color: #777777;
font-size: 10px;
background: #f3f3f3;
margin: 0px 0px 20px 0px;
padding: 5px 5px 5px 10px;
}
.postdate {
text-align: center;
text-shadow: #777 0px 1px 0px;
}
.postmonth {
color: #FFF;
font-size: 11px;
text-transform: uppercase;
font-weight:bolder;
padding: 0px;
margin: 0px;
}
.postday {
color: #fff;
font-weight:bolder;
font-size: 25px;
padding: 0px;
margin: 0px;
}
h1 {
font-size:36px;
color:#777;
letter-spacing:-2px;
padding: 10px 0px 10px 0px;
font-weight:lighter;
margin: 0px;
}
h2 {
font-size:24px;
padding: 0px;
margin: 0px 0px 5px 0px;
color:#000;
letter-spacing:-1px;
margin:0px;
}
h3 {
font-size:18px;
color:#000;
letter-spacing:-1px;
}
h4 {
font-size:16px;
color:#000;
letter-spacing:-1px;
}
h5 {
font-size:14px;
color:#000;
font-weight:lighter;
}
h6 {
font-size:12px;
color:#000;
letter-spacing:-.5px;
font-weight:lighter;
}
p {
font-size:14px;
letter-spacing:0;
padding: 0px 0px 15px 0px;
}
a {
color:#08c;
}
pre {
font-size:11px;
color:#000;
letter-spacing:0;
background-color:#f3f3f3;
}
code {
/*background: url(bg_dotted.png) repeat scroll 0px 0px transparent;*/
background: #F8F8F8;
padding:2px 0px 0px 12px;
display:block;
border-left: 5px solid #339900;
width:90%;
}

blockquote {
font-style:italic;
color:#333;
margin:5px;
padding: 10px 10px 0px 30px;
background: url(http://mosinskiblog.herokuapp.com/quotes.jpg) no-repeat top left;
width: 620px;
}
em {
font-style:italic;
}
/* Sidebar */
#sidebar .widget {
padding: 0px 0px 0px 0px;
margin: 0px 0px 10px 0px;
/*border-bottom: 1px dotted #ccc;*/
}
#sidebar ul {
list-style-type: none;
margin: 0;
padding: 0px 0px 0px 0px;
}
.no-widgets h2 {
margin: 15px 0px 0px 0px;
}
#sidebar ul li {
padding: 0px 0px 5px 12px;
margin: 0px;
border-left: 5px solid transparent;
width:250px;
}
#sidebar ul li:hover {
padding: 0px 0px 5px 12px;
margin: 0px;
border-left: 5px solid rgb(153, 203, 220);
width:250px;
}
#sidebar #h3 {
padding: 20px;
margin: 0px;
}
/* Post */
.post ul, .post ol {
padding: 0px 0px 10px 30px;
}
.sidebar-title {
    margin: -8px -17px 10px;
    padding: 10px 0px 8px 12px;
    text-align: left;
    font-size: 20px;
    line-height: 17px;
    color: rgb(80, 80, 80);
    font-family: Arial,Helvetica,Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: url("http://1.bp.blogspot.com/_sAefHxrmPGg/TXVY5bCkIDI/AAAAAAAACJs/zYZpVL_qqx8/s000/sidebar-tab.png") repeat-x scroll left top transparent;
    border-left: 5px solid rgb(153, 203, 220);
    width: 330px;
}


.postmetadata {
border-top: dotted 1px #e3e3e3;
padding: 15px 0px 5px 0px;
color: #777777;
font-size: 10px;
line-height: 18px;
text-transform: capitalize;
clear: both;
}
/* Comment */
#comments-title:before {
content:"Komentarze: ";
}
#comments-title {
padding: 30px 0px 0px 0px;
margin: 0px;
text-align: center!important;
}
.comment-header {
font-weight:bolder;
font-size: 14px;
font-style:italic;
text-transform: capitalize;
margin: 0px 0px 5px 0px;
padding: 5px;
background: #e3e3e3;
}
.user {display:block;}
#comment-block {
margin: 0px 0px 30px 0px;
background: url("http://3.bp.blogspot.com/-C2MCJiDygv8/T9EVS0wnwII/AAAAAAAAC4Q/mc2zY8fLRMs/s000/comment-block-bg.png") no-repeat scroll center top transparent;
}
#comment-block ol {
padding:20px;
margin:10px 0px 30px 0px;
padding: 0px 0px 0px 40px;
font-size: 16px;
}
#comment-block ol ul {
list-style-type: none;
padding: 0px 0px 0px 40px;
}
.comment_info{
border-bottom: 1px dotted rgb(227, 227, 227);
margin-left:88px;
}
#comment-body{
margin-bottom:20px;
margin-left:88px;
padding: 5px 0px 15px;
color: rgb(119, 119, 119);
font-size: 10px;
line-height: 18px;
width: 705px;
resize:none;
}
#comment-przyciski{
float:right;
}
.user_info {
font-size:12px;
line-height:16px;
display:block;
padding:0px 30px;
}
.field_single {
display:inline;
float:left;
width:33%;
}
.comment_avatar {
float:left;
}

}
.comment_left {
width:80px;
margin-right:7px;
}
.comment_right {
line-height:20px;
width:80%;
}
.avatar-image-container {
float: left;
margin: 0 5px 0 0;
width: 40px;
height: 40px;
}
.avatar-image-container img {
width: 40px;
height: 40px;
}
.comment-actions a {
font:bold 12px Arial, Helvetica, sans-serif;
color:#444!important;
text-shadow:0 1px 0 #eee;
cursor:pointer;
background:#aaa;
background:-moz-linear-gradient(bottom, #aaa, #cecece);
background:-webkit-gradient(linear, left bottom, left top, from(#aaa), to(#cecece));
border:0px;
padding:2px 13px;
margin:0 5px 0 0;
width:70px;
height:auto;
}
.datetime {
display: block;
font-size: 10px;
padding: 0px;
margin: 0px;
}
#comment-block a {
color: #000;
}
/* Theme Name: Simon WP Framework */
/* Forms */
select {
color: #333;
font-family: Arial, Helvetica, Tahoma, sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 22px;
margin: 0;
padding: 0;
text-decoration: none;
border: solid 1px #e3e3e3;
}
textarea {
color: #333;
font-family: Arial, Helvetica, Tahoma, sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 22px;
margin: 0;
padding: 0;
text-decoration: none;
border: solid 1px #e3e3e3;
width: 97%;
resize:none;
}
input {
color: #333;
font-family: Arial, Helvetica, Tahoma, sans-serif;
width:175px;
}
label {
font-weight: bold;
}
fieldset {
padding:1.4em;
margin: 0 0 1.5em 0;
border: 1px solid #ccc;
}
legend {
font-weight: bold;
font-size:1.2em;
}
/* Search */
#searching {
padding: 7px;
width: 210px;
}
#search {
width: 225px!important;
float: right;
margin-left:-102px;
}
input[type="text"] {
font-family:Arial, Helvetica, sans-serif;
font-size: 15px;
color: #444;
border: 0px;
padding: 5px;
margin: 0px;

height: 22px;
display: block;
border: 1px solid #ccc;
-moz-box-shadow: inset 0 0 10px #f3f3f3;
-webkit-box-shadow: inset 0 0 10px #f3f3f3;
box-shadow: inset 0 0 10px #f3f3f3;
}
#download {
font:bold 14px Arial, Helvetica, sans-serif;
color: #444;
text-shadow:0 1px 1px #eee;
cursor:pointer;
background:#aaa;
background:-moz-linear-gradient(bottom, #aaa, #cecece);
background:-webkit-gradient(linear, left bottom, left top, from(#aaa), to(#cecece));
border: 1px solid #aaa;
padding:1px 13px 4px 13px;
margin:5px;
width:180px;
-moz-box-shadow-top: inset 0 0 3px #ccc;
-webkit-box-shadow: inset 0 0 3px #ccc;
box-shadow: inset 0 0 3px #ccc;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-o-border-radius: 20px;
}
textarea {
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
color: #444;
border: 0px;
padding: 5px;
margin: 0px;
display: block;
border: 1px solid #ccc;
-moz-box-shadow: inset 0 0 10px #ececec;
-webkit-box-shadow: inset 0 0 10px #ececec;
box-shadow: inset 0 0 10px #ececec;
height:1000px;
}
textarea:focus, input[type="text"]:focus {
border: 1px solid #9a9a9a;
}
#s {
font-family:Arial, Helvetica, sans-serif;
font-size: 13px;
color: #444;
border: 1px solid #ccc;
padding: 2px 0px 2px 5px;
margin: 0px;
width: 175px;
height: 22px;
-moz-box-shadow: inset 0 0 5px #ececec;
-webkit-box-shadow: inset 0 0 5px #ececec;
box-shadow: inset 0 0 5px #ececec;
}
#s:focus {
border: 1px solid #9a9a9a;
}
#searchsubmit {
font:bold 14px Arial, Helvetica, sans-serif;
color: #444;
text-shadow:0 1px 1px #eee;
cursor:pointer;
background:#aaa;
background:-moz-linear-gradient(bottom, #aaa, #cecece);
background:-webkit-gradient(linear, left bottom, left top, from(#aaa), to(#cecece));
border: 1px solid #aaa;
padding:1px 13px 4px 13px;
margin:3px 0px 0px 5px;
width:70px;
height: 27px;
-moz-box-shadow-top: inset 0 0 3px #ccc;
-webkit-box-shadow: inset 0 0 3px #ccc;
box-shadow: inset 0 0 3px #ccc;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-o-border-radius: 20px;
}
#submit, .wpcf7-submit {
font:bold 14px Arial, Helvetica, sans-serif;
color:#444;
text-shadow:0 1px 0 #eee;
cursor:pointer;
background:#aaa;
background:-moz-linear-gradient(bottom, #aaa, #cecece);
background:-webkit-gradient(linear, left bottom, left top, from(#aaa), to(#cecece));
border:0px;
padding:5px;
margin:0;
height:auto;
}
/* Global */
body {
background: url(http://mosinskiblog.herokuapp.com/background.png);
}
/* Header */
#header {
height: 120px;
}
/* Soften Options */
.soften_edges #navigation {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges [type="submit"] {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
.soften_edges .comment-reply-link {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
.soften_edges [type="text"] {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
.soften_edges textarea {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges .post {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges #sidebar {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges .vcard {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges img {
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-o-border-radius: 2px;
}
.soften_edges .post .swpf-img {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges #footer {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges .pagenavi {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
.soften_edges .pagenavi span.current {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
}
#options-wrapper {
}
.dark_navigation #navigation {
background: #222;
background: -moz-linear-gradient(#252525, #0a0a0a);
background: -o-linear-gradient(#252525, #0a0a0a);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax */
background: -webkit-linear-gradient(#252525, #0a0a0a);
-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
clear: both;
display: block;
float: left;
margin: 0px;
width: 100%;
}
.dark_navigation #navigation a {
color: #fff;
}
.dark_navigation #navigation li li a {
color: #434343;
}
.light_navigation #navigation {
background: #222;
background: -moz-linear-gradient(#e0e0e0, #c6c6c6);
background: -o-linear-gradient(#e0e0e0, #c6c6c6);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#c6c6c6)); /* older webkit syntax */
background: -webkit-linear-gradient(#e0e0e0, #c6c6c6);
-webkit-box-shadow: #ccc 0px 1px 1px;
-moz-box-shadow: #ccc 0px 1px 1px;
box-shadow: #ccc 0px 1px 1px;
text-shadow: #fff 0px 1px 1px;
clear: both;
display: block;
float: left;
margin: 0px;
width: 100%;
}
.light_navigation #navigation a {
color: #848484;
}
.light_navigation #navigation li li a {
color: #434343;
}
.hide_navigation #navigation {
display: none;
}
/* navigation */
#navigation ul {
font-size: 13px;
list-style: none;
margin: 0px 0px 0px 10px;
padding: 0;
}
#navigation ul li {
float: left;
position: relative;
}
#navigation ul li a {
font-weight: bolder;
display: block;
line-height: 3.663em;
padding: 0 1.2125em;
text-decoration: none;
}
#navigation ul ul {
-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
display: none;
float: left;
margin: 0;
position: absolute;
top: 3.333em;
left: 0;
width: 188px;
z-index: 99999;
}
#navigation ul ul ul {
left: 100%;
top: 0;
}
#navigation ul ul a {
background: #f9f9f9;
border-bottom: 1px dotted #ddd;
color: #444;
font-size: 13px;
font-weight: normal;
height: auto;
line-height: 1.4em;
padding: 10px 10px;
width: 168px;
}
#navigation li:hover > a, #navigation ul ul :hover > a, #navigation a:focus {
background: #efefef;
}
#navigation li:hover > a, #navigation a:focus {
background: #f9f9f9; /* Show a solid color for older browsers */
background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
background: -o-linear-gradient(#f9f9f9, #e5e5e5);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
color: #373737;
}
#navigation ul li:hover > ul {
display: block;
}
#navigation .current_page_item > a, #navigation .current_page_ancestor > a {
font-weight: bold;
}
/* Entries */
.entry {
}

.entry img {
    border: 1px solid rgb(229, 229, 229);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    float: left;
    padding: 4px;
    margin: 0px 15px 15px 0px;
    transition: all 0.8s ease 0s;
}

.entry a:hover img {
    border: 1px solid rgb(204, 204, 204);
    background: none repeat scroll 0% 0% rgb(221, 221, 221);
}

/* Sidebar */
#sidebar {
border: 1px Solid #e0e0e0;
margin: 15px 0px 15px 0px;
padding: 12px;
background: #f3f3f3;
-moz-box-shadow: inset 0 0 5px #fff;
-webkit-box-shadow: inset 0 0 5px #fff;
box-shadow: inset 0 0 5px #fff;
}
#pages, #archives, #categories, #feeds, #sidebarmeta, #blogroll {
margin: 0px 0px 0px 0px;
}
/* post */
.postdate {
position: absolute;
margin-left: -71px;
padding: 5px;
background: #f9f9f9; /* Show a solid color for older browsers */
background: -moz-linear-gradient(#cccccc, #aaaaaa);
background: -o-linear-gradient(#cccccc, #aaaaaa);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc), to(#aaaaaa)); /* Older webkit syntax */
background: -webkit-linear-gradient(#cccccc, #aaaaaa);
width: 40px;
}
.post, .type-post, .type-page {
padding: 20px 20px 10px 20px;
margin: 15px 0px 15px 0px;
/* background: #FFF; */
background: url("http://mosinskiblog.herokuapp.com/home-bkg.gif") repeat scroll 8px 12px rgb(255, 255, 255);
border: solid 1px #e3e3e3;
-moz-box-shadow: inset 0 0 10px #f3f3f3;
-webkit-box-shadow: inset 0 0 10px #f3f3f3;
box-shadow: inset 0 0 10px #f3f3f3;
}
.post-administrator {
padding: 20px 20px 10px 20px;
margin: 15px 0px 15px 0px;
background: url("http://mosinskiblog.herokuapp.com/home-bkg.gif") repeat scroll 8px 12px rgb(255, 255, 255);
border: solid 1px #FFCC00;
-moz-box-shadow: inset 0 0 10px #f3f3f3;
-webkit-box-shadow: inset 0 0 10px #f3f3f3;
box-shadow: inset 0 0 10px #f3f3f3;
}
.swpf-img img {
border: 5px solid #fff;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 2px #888;
overflow: hidden;
}
.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.alignleft {
float: left;
margin: 0px 20px 20px 0px;
clear: both;
}
.alignright {
float: right;
margin: 0px 0px 20px 20px;
clear: both;
}
.attachment-post-thumbnail {
float: left;
min-width: inherit;
border: 5px solid #fff;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 2px #888;
overflow: hidden;
margin: 0px 20px 20px 0px;
}
/*Comment Structure*/
#comment-block {
background: url(http://3.bp.blogspot.com/-C2MCJiDygv8/T9EVS0wnwII/AAAAAAAAC4Q/mc2zY8fLRMs/s000/comment-block-bg.png) no-repeat top center;
}
#comments {
margin:20px 0px 10px 0px;
padding:20px 0px 10px 0px;
}
/* Footer */
#footer {
margin: 0px 0px 8px 0px;
padding: 20px;
background: #c6c6c6; /* Show a solid color for older browsers */
background: -moz-linear-gradient(#e0e0e0, #c6c6c6);
background: -o-linear-gradient(#e0e0e0, #c6c6c6);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#c6c6c6)); /* older webkit syntax */
background: -webkit-linear-gradient(#e0e0e0, #c6c6c6);
-webkit-box-shadow: #aaa 0px 1px 1px;
-moz-box-shadow: #aaa 0px 1px 1px;
box-shadow: #aaa 0px 1px 1px;
text-shadow: #fff 0px 1px 1px;
color: #848484;
}
/* Meta */
.time {
background: url(http://2.bp.blogspot.com/-nF7_6xAjas0/T9EVTBoDsaI/AAAAAAAAC4Y/VckiTVJNaC8/s000/calender-icon.png) no-repeat top left;
margin: 0 0 0 3px;
padding: 0 0 2px 18px;
}
.post-comments {
background: url(http://2.bp.blogspot.com/-hR4h2kyuRg0/T9EVTjTZ_CI/AAAAAAAAC4g/smvR6cc9p8c/s000/comment-icon.png) no-repeat top left;
margin: 0 0 0 3px;
padding: 0 0 2px 18px;
}
.categories {
background: url(http://2.bp.blogspot.com/-gj1P1WwzP6k/T9EVT3dAyzI/AAAAAAAAC4o/zWjTOGDlTsE/s000/file-icon.png) no-repeat center left;
margin: 0 0 0 2px;
padding: 0 0 3px 20px;
}
.tags {
background: url(http://1.bp.blogspot.com/-208xzlm2yPc/T9EVUWIQu2I/AAAAAAAAC4w/cTttM4lM01Y/s000/tag-icon.png) no-repeat top left;
margin: 0 0 0 3px;
padding: 0 0 4px 18px;
}
/* Misc */
.sticky {
}
.gallery-caption {
}
.bypostauthor {
}
.wp-caption-text {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.wp-caption img {
margin: 0;
padding: 0;
border: 0 none;
}
.wp-caption-dd {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}
--></style>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=292604074183737";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pl'}
</script>
<script>
	(function() {
	  var id = 'nk-widget-sdk';
	  var js, first_js = document.getElementsByTagName('script')[0];
	  if (document.getElementById(id)) return;
	  js = document.createElement('script');
	  js.id = id; js.async = true;
	  js.type = 'text/javascript';
	  js.src = 'http://0.s-nk.pl/script/packs/nk_widgets_all.js';
	  first_js.parentNode.insertBefore(js, first_js);
	}());
</script>
</head>
<body class="loading">
<div id="fb-root"></div>
<div class="navbar section" id="navbar"><div class="widget Navbar" id="Navbar1">
<div id="navbar-iframe-container"><iframe allowtransparency="true" hspace="0" marginheight="0" marginwidth="0" style="" tabindex="0" vspace="0" id="navbar-iframe" name="navbar-iframe" src="Simon%20WP%20Framework_pliki/navbar.html" frameborder="0" scrolling="no" width="100%"></iframe></div>
</div></div>
<div class="soften_edges light_navigation" id="options-wrapper">
<div class="container_12" id="">
<div class="container_12" id="header">
<div class="section" id="header1"><div class="widget Header" id="Header1">
<h1>
<a href=""><img src="/logo2.png" style="margin-top:-50px;margin-bottom:-30px;"></a>
</h1>
<div class="description">
Zbiór doświadczeń studenta Informatyki..
</div>
<div class="fb-like" data-href="http://blog.m1l05z.pl/" data-send="false" data-layout="box_count" data-width="650" data-show-faces="true" data-font="trebuchet ms"></div>
<div class="twitter-glowna"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.m1l05z.pl" data-via="Blog Informatyczny - Mosinski Blog" data-lang="pl" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a></div>
<div class="g-plusone" data-size="tall" data-href="http://blog.m1l05z.pl"></div>
</div>
</div>
</div>
<div class="container_12" id="navigation">
<!-- Pages-based menu added by BTemplates.com -->
<div class="menu"><div>
<!-- Pages -->
<div class="section" id="pages"><div class="widget PageList" id="PageList9">
<div>
<ul>
<li class="page_item"><a href="/">Home</a></li>
<li class="page_item"><a href="/about">O mnie</a></li>
</ul>
</div>
</div>
</div>
<!-- /Pages -->
</div></div>
<div class="notice">
<%= notice %>
</div>

<div class="grid_3" id="search">
<div class="subskrypcja_rss">
<a href="http://blog.m1l05z.pl/articles.atom">
<%= image_tag("rss.png", :title => "Subskrypcja Atom") %>
</a>
</div>
<%= form_tag request.path, :method => 'get' do %>
<div id="searching">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
<tr>
<td valign="middle" align="center">
<%= text_field_tag  :search, params[:search], :placeholder => 'Wyszukaj:', :class => 'wyszukaj_nav' %>
<% end %></td>
<td valign="middle" align="center"><input id="searchsubmit" value="Szukaj" type="submit"></td>
</tr>
</tbody>
</table>
</div>
</form>
</div>
</div>
<div class="alpha grid_8">
<div class="main section" id="main">
<div class="widget Blog" id="Blog1">
<div class="blog-posts hfeed">
  <%= yield %>
</div>
</div>
</div>
</div>
<div class="grid_4 omega" id="sidebar">
<div class="grid_2 omega section" id="sidebar2"><div class="widget HTML" id="HTML3">
<h2 class="sidebar-title">Kategorie</h2>
<div class="widget-content">
<script type="text/javascript">if(typeof jQuery == 'undefined'){document.write("<scr" + "ipt type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></scr" + "ipt>");}</script>
<ul id="rssdata1" style="">
<li><a href="http://blog.m1l05z.pl/articles?utf8=%E2%9C%93&search=NEWS" class="sidebarlinki">NEWS</a> (<%= Article.find_all_by_kategoria("NEWS").count %>)</li>
<li><a href="http://blog.m1l05z.pl/articles?utf8=%E2%9C%93&search=C%23" class="sidebarlinki">C# Microsoft Visual Studio '12</a> (<%= Article.find_all_by_kategoria("C#").count %>)</li>
<li><a href="http://blog.m1l05z.pl/articles?utf8=%E2%9C%93&search=ANDROID" class="sidebarlinki">ANDROID</a> (<%= Article.find_all_by_kategoria("ANDROID").count %>)</li>
<li><a href="http://blog.m1l05z.pl/articles?utf8=%E2%9C%93&search=HTML5" class="sidebarlinki">HTML5</a> (<%= Article.find_all_by_kategoria("HTML5").count %>)</li>
<li><a href="http://blog.m1l05z.pl/articles?utf8=%E2%9C%93&search=UBUNTU" class="sidebarlinki">UBUNTU</a> (<%= Article.find_all_by_kategoria("UBUNTU").count %>)</li>
<li><a href="http://blog.m1l05z.pl/articles?utf8=%E2%9C%93&search=RUBY+ON+RAILS" class="sidebarlinki">RUBY ON RAILS</a> (<%= Article.find_all_by_kategoria("RUBY ON RAILS").count %>)</li>
</ul>
</div>
</div>
<div class="widget HTML" id="HTML1">
<h2 class="sidebar-title">INFO</h2>
<div class="widget-content">
<div class="info-sidebar">
Witam na blogu poświęconym informatyce a głównie programowaniu.
Są na nim dziedziny z jakimi miałem styczność na studiach może komuś ta wiedza się przyda. To tyle miłej lektury.
</div>
</div>
</div>
<div class="widget HTML" id="HTML1">
<h2 class="sidebar-title">Subskrypcja @</h2>
<div class="widget-content">
<div class="info-sidebar" id="info_subskrypcja">
Chcesz dostawać informacje o nowych postach na swojego maila?
Wpisz adres i gotowe!
<%= render :partial => "newsletters/subskrypcja" %>
</div>
</div>
</div>
</div>
</div>
<div style="clear: both"></div>
<!-- Do Not Remove Our Link On Footer Template. Please Respect Our Work. Thank You. -->
<div id="footer">
<div style="clear: both"></div>
        © <%= Time.now.year %> Miłosz Osiński | Powered By <a href="http://simonwebdesign.com/simon-wp-framework/" target="_new">Simon WP Framework</a> | Converted by <a href="http://www.litethemes.com/" target="_blank" title="LiteThemes.com">LiteThemes.com</a>
</div>
<span style="margin:5px;"><a href="http://www.nosoftwarepatents.com/"><img src="http://ubuntu.pl/img/no_patents.gif" alt="" height="15" width="80"></a></span>
<span style="margin:5px"><a href="http://www.bykom-stop.avx.pl/"><img src="http://ubuntu.pl/img/bykom_stop.gif" alt="" height="15" width="80"></a></span>
<!-- Do Not Remove Our Link On Footer Template. Please Respect Our Work. Thank You. -->
</div>
</div>
<!-- Skrypty social buttons -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'pl'}
</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://mosinskiblog.herokuapp.com/3dlinks.js"></script>
<script src="http://connect.facebook.net/pl_PL/all.js#xfbml=1"></script>
<!-- Koniec social buttons -->
<script>
$('.przyciski').mouseover(function() {
$('.przyciskii').show(500);}).mouseleave(function() {
$('.przyciskii').hide("fast");});
$('#przycisk_bold').click(function () {
$('.area_text').val( $('.area_text').val()+'<b>Pogrubiony Teskt</b>');
$('.komentarz_body').val( $('.komentarz_body').val()+'[b]Pogrubiony Teskt[/b]');
});
$('#przycisk_italic').click(function () {
$('.area_text').val( $('.area_text').val()+'<i>Ukośny Tekst</i>');
$('.komentarz_body').val( $('.komentarz_body').val()+'[i]Ukośny Tekst[/i]');
});
$('#przycisk_u').click(function () {
$('.area_text').val( $('.area_text').val()+'<u>Podkreślony Tekst</u>');
$('.komentarz_body').val( $('.komentarz_body').val()+'[u]Podkreślony Tekst[/u]');
});
$('#przycisk_s').click(function () {
$('.area_text').val( $('.area_text').val()+'<s>Przekreślony Tekst</s>');
$('.komentarz_body').val( $('.komentarz_body').val()+'[s]Przekreślony Tekst[/s]');
});
$('#przycisk_url').click(function () {
$('.area_text').val( $('.area_text').val()+'<a href="Adres Url">Tekst Linku</a>');
$('.komentarz_body').val( $('.komentarz_body').val()+'[url=Adres Url]Tekst Linku[/url]');
});
$('#przycisk_cytat').click(function () {
$('.area_text').val( $('.area_text').val()+'[quote]Tekst Cytatu[/quote]');
$('.komentarz_body').val( $('.komentarz_body').val()+'[quote]Tekst Cytatu[/quote]');
});
$('#przycisk_code').click(function () {
$('.area_text').val( $('.area_text').val()+'<code lang="jezyk">Kod programu</code>');
$('.komentarz_body').val( $('.komentarz_body').val()+'[code]Kod programu[/code]');
});
$('#przycisk_img').click(function () {
$('.area_text').val( $('.area_text').val()+'<img src="Url Zdjęcia" width="dlugosc" hight="wysokość">');
});
$('#przycisk_youtube').click(function () {
$('.area_text').val( $('.area_text').val()+'[youtube]Url Filmiku Youtube[/youtube]');
});
$('#przycisk_list_num').click(function () {
$('.area_text').val( $('.area_text').val()+'\n[ol]Lista\n[*]Numer 1\n[*]Numer 2[/ol]');
$('.komentarz_body').val( $('.komentarz_body').val()+'\n[ol]Lista\n[*]Numer 1\n[*]Numer 2[/ol]');
});
$('#przycisk_list_krop').click(function () {
$('.area_text').val( $('.area_text').val()+'\n[ul]Lista\n[*]Kropka\n[*]Kropka[/ul]');
$('.komentarz_body').val( $('.komentarz_body').val()+'\n[ul]Lista\n[*]Kropka\n[*]Kropka[/ul]');
});
</script>
</body></html>
